@use "../base/variables" as *;
@use "sass:color";

// Buttons
.btn {
  width: 100%;
  padding: 14px;
  background: $primary-color;
  color: $white;
  border: none;
  border-radius: $border-radius-small;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color $transition-base, transform $transition-fast;

  &:hover {
    background: color.adjust($primary-color, $lightness: -10%);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
