@font-face {
  font-family: 'VK Sans Display';
  src: url('../assets/fonts/VKSD_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VK Sans Display';
  src: url('../assets/fonts/VKSD_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VK Sans Display';
  src: url('../assets/fonts/VKSD_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VK Sans Display';
  src: url('../assets/fonts/VKSD_DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VK Sans Display';
  src: url('../assets/fonts/VKSD_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

