@use "../base/variables" as *;

// Footer
.footer {
  background: $secondary-color;
  color: $white;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;

  p {
    margin: 0;
    opacity: 0.9;
  }
}

